.icon-button-wrapper {
  width: 60px;
  height: 40px;
  color: #aaa;
  background: #333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: 0.25s ease-out;
  border: none;

  &:active {
    background-color: #b83e80;
    color: white;
  }

  &:disabled {
    background: #222;
    color: #555;
  }

  i {
    font-size: 20px;
  }

  &.main {
    width: 80px;
    height: 80px;
    margin-top: -50px;
    border-radius: 50%;
    font-size: 40px;
  }
}
