.room-song-preview {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: linear-gradient(45deg, #212142, #1b1a3c);
  margin-bottom: 15px;
  padding: 0 3%;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 0 18px 1px #0e0d24;
  overflow: hidden;
  text-align: left;
  color: inherit;
  border: none;

  &.current {
    background: linear-gradient(45deg, #2d2d53, #282053);
    border: 2px solid #272562;
  }

  .cover-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius: 15px;

    .cover {
      width: 80%;
      height: 80%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      position: relative;

      .added-by-client {
        position: absolute;
        margin: -5px -7px;
        right: 0;
        bottom: 0;
        border: 4px solid #201f41;
        border-radius: 50%;
      }
    }
  }

  .song-info-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    height: 50%;

    .author {
      h3 {
        margin: 0;
        font-size: 13px;
      }
    }

    .title {
      h4 {
        margin: 0;
      }
    }
  }

  .user-info-wrapper {
    width: 18px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-avatar {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
}
