<button
  class="room-song-preview"
  [class.current]="this.isCurrent"
  (click)="this.handleRoomSongPreviewClick()"
>
  <div class="cover-wrapper">
    <div
      class="cover"
      [style.backgroundImage]="'url(' + this.roomSong.cover + ')'"
    >
      <app-user
        class="added-by-client"
        [user]="this.roomSong.addedByClient"
        [isMini]="true"
      ></app-user>
    </div>
  </div>
  <div class="song-info-wrapper">
    <div>
      <div class="author">
        <h3>{{ this.roomSong.author }}</h3>
      </div>
      <div class="title">
        <h4>{{ this.roomSong.title }}</h4>
      </div>
    </div>
  </div>
  <div class="user-info-wrapper">
    <div
      class="user-avatar"
      [style.background]="this.roomSong.addedByClient.avatarColor"
    ></div>
  </div>
</button>
