.room {
  .top-static {
    height: 120px;
    .top {
      position: fixed;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #12112f, #341a54);
      width: 100%;
      z-index: 1000;
    }
  }

  .left-room-button {
    background: none;
    border: none;
    color: white;
  }

  .room-song-previews {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    & > div {
      width: 90%;
    }
  }

  .bottom-static {
    height: 220px;
    .bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      display: flex;

      .controller {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #12122e;
        margin-bottom: -1px;
      }
    }
  }

  .add-song-button {
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, #b83e80, #b688b2);
    position: fixed;
    opacity: 0.95;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.2s ease-out;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 1;
    }
  }
}
