.window-room-song-library {
  .songs {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 150px;

    .song {
      display: flex;

      flex: 1;
      background: none;
      border: none;
      color: #aaa;
      margin-bottom: 15px;

      .cover {
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .name {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 30px;
      }
    }
  }
}
