.room-preview {
  width: 100%;
  padding: 5px 0;
  background: linear-gradient(45deg, #453a97, #964aa9);
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .side {
    display: flex;
    align-items: center;
    &.left {
      flex: 1;
      height: 100%;
      padding: 0 5%;

      h4 {
        margin: 0;
        font-size: 15px;
        color: #ddd;
      }
    }

    &.right {
      width: 45px;
      height: 45px;
      justify-content: center;
      margin-right: 6px;

      .join-button {
        background: #333;
        width: 100%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        color: #bbb;
        font-size: 18px;

        transition: 0.25s ease-out;

        &:hover,
        &:active {
          background-color: #b83e80;
          color: white;
        }
      }
    }
  }
}
