.window-room-creator {
  .room-name-input {
    width: 80%;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
  }

  .create-room-button {
    margin-top: 10px;
    padding: 7px 15px;
    background: #e54d89;
    border: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    letter-spacing: 2px;
    transition: 0.2s ease-out;

    &:disabled {
      background: #777;
    }

    &:hover,
    &:active {
      background: #f52175;
    }

    &:focus {
      outline: none;
    }
  }
}
